/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

* {
  font-family: Sans-Serif;
  color: rgb(129, 70, 22);
}

body {
  background-image: url("https://wallpapers.com/images/hd/high-resolution-wood-background-sk0k1ko8b0lxyyf4.jpg");
  background-size: cover; /* Ensures the image covers the entire background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  /* Add any other background properties as needed */
}