/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

* {
  font-family: Sans-Serif;
  margin: 0;
}
#mainBody {
  background-color: #ffa44d;
  opacity: 0.8;
  background-image: linear-gradient(135deg, #ffb274 25%, transparent 25%),
    linear-gradient(225deg, #ffb274 25%, transparent 25%),
    linear-gradient(45deg, #ffb274 25%, transparent 25%),
    linear-gradient(315deg, #ffb274 25%, #ffa44d 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;
  background-repeat: repeat;
  color: rgb(255, 68, 0);
  width: auto;
  height: auto;
}
